* {
    margin: 0;
    padding: 0;
}

.header {
    height: 129px;
    width: 100%;
    position: relative;
}

.load-con {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0a66c2;
    z-index: 1000;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: rgb(240, 240, 10);
}
.loader:before,
.loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #ff0000;
    transform: rotateY(70deg);
    /* animation-delay: .4s; */
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}

.nav-small {
    display: none;
}

/* tobbar */

.tobbar-con {
    background-color: rgba(71, 71, 71, 100%);
    height: 45px;
    display: flex;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    margin: auto;
    color: #ffffff;
}

.left-tobbar {
    display: flex;
    width: 344px;
    justify-content: space-between;
    align-items: center;
}

.left-tobbar .fa-phone,
.fa-regular {
    font-size: 10px;
}

.right-tobbar {
    display: flex;
    width: 121px;
    justify-content: space-between;
}

.right-tobbar .icons {
    width: 27.17px;
    height: 27.17px;
    background-color: rgba(249, 249, 247, 12%);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

/* bootombar */
.bottombar-con {
    position: absolute;
    bottom: 0;
    height: 55px;
    display: flex;
    width: 100%;
    align-items: center;
}

.header .fa-bars {
    font-size: 40px;
    display: none;
    color: darkblue;
    cursor: pointer;
}

.bottombar {
    width: 81%;
    margin: auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: end;
}

.logo img {
    width: 55.54px;
    height: 55px;
    object-fit: contain;
}

.logo p {
    line-height: 29.3px;
    letter-spacing: -0.4px;
    font-size: 42.67px;
    color: rgba(71, 71, 71, 1);
    font-style: italic;
}

.bottombar .menues {
    width: 433px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottombar .menues .menue {
    width: 77px;
    height: 32px;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottombar .menues .menue a,
.a,
p {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #2c2f24;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.login-a {
    text-decoration: none !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #2c2f24 !important;
    margin-right: 10px;
}

.profile {
    width: 240px;
}

.active {
    background-color: #ff8d5e;
    padding: 7px;
    border-radius: 10px;
}

.f-home {
    color: #dbdfd0;
    text-decoration: none;
}

.active-j {
    background-color: #dbdfd0;
}

.bottombar .booking button {
    width: 147px;
    height: 48px;
    border: solid #2c2f24;
    border-radius: 118px;
    background-color: transparent;
    cursor: pointer;
}

.bottombar .booking button a {
    text-decoration: none;
    color: #1b1826;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 118px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-angle-right {
    display: none;
}
.profile-btm {
    color: darkblue;
}
.profile-btm:hover {
    color: #0a66c2;
}

.icon-con {
    margin-left: 40%;
}

.notifynum {
    position: absolute;
    top: 0;
    right: 0;
    color: #1b1826;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc0a0adc;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.notifynum .nutify-con {
    color: #fff;
}

.menuejo {
    position: relative;
}

.menuess {
    text-align: center;
    list-style: none;
    display: none;
    position: absolute;
    width: 14vw;
    top: 50px;
    right: -80px;
    z-index: 10;
    height: 75vh;
}

.inf {
    color: darkblue;
}

.cursor {
    cursor: no-drop;
}

.text-left {
    text-align: left;
    width: 100%;
    display: flex;
    padding: 11px 0 0 15px;
    color: blue;
}

/* media */

@media screen and (max-width: 1150px) {
    .logo p {
        font-size: 35px;
    }
}

@media screen and (max-width: 1110px) {
    .tobbar {
        width: 90%;
    }
    .bottombar {
        width: 90%;
    }
    .profile {
        right: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .tobbar {
        width: 95%;
    }
    .bottombar {
        width: 95%;
    }
    .profile {
        right: 160px;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        height: 400px !important;
    }
    .header .phone {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .bottombar .logo {
        display: none;
    }
    .header {
        height: auto;
    }
    .tobbar-con {
        height: auto;
        background-color: transparent;
        display: none;
    }
    .topbar {
        flex-direction: column;
        gap: 15px;
        color: #2c2f24;
    }
    .right-tobbar .icons {
        background-color: transparent;
        color: #1b1826;
    }
    .left-tobbar {
        flex-direction: column;
        gap: 15px;
    }
    .bottombar-con {
        height: auto;
        position: relative;
        flex-direction: column;
    }
    .nav-small {
        display: flex;
        align-items: center;
        width: 81%;
        justify-content: space-between;
        margin: auto;
    }
    .header .fa-bars {
        display: flex;
    }
    .bottombar {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .logo {
        align-items: center;
        height: 110px;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .bottombar .menues {
        width: 210px;
        height: 150px;
        flex-direction: column;
        display: none;
        margin: auto;
    }
    .menues .menue {
        width: 100% !important;
        height: 40px !important;
    }

    .booking {
        display: none;
    }
    .p-6 {
        padding: 0 !important;
    }
    .relative {
        position: relative;
        left: 75px;
    }
    .open-menu {
        top: 0 !important;
    }
    .absolute {
        top: -6px !important;
        right: -200px !important;
    }
    .fa-angle-right {
        display: flex;
        margin-left: 20px;
    }
    .arrowdown {
        display: none;
    }
    .profile {
        position: relative;
    }
    .profile-hid {
        display: none;
        margin: 30px 0;
    }
    .icon-hid {
        display: none;
    }

    .menuess {
        right: -50px;
    }
}

@media (max-width: 1110px) {
    .menuess {
        right: -30px;
    }
}

@media screen and (max-width: 1000px) {
    .profile {
        right: 200px;
    }
}

@media (max-width: 800px) {
    .menuess {
        width: 20vw;
    }
}

@media (max-width: 690px) {
    .icon-con {
        margin-left: 25%;
    }
    .menuess {
        width: 24vw;
    }
}

@media (max-width: 570px) {
    .icon-con {
        margin-left: 20%;
    }
    .menuess {
        width: 27vw;
    }
}

@media (max-width: 500px) {
    .nav-small {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .icon-con {
        margin-left: 15%;
    }
    .menuess {
        width: 30vw;
        right: -30px;
    }
}

@media (max-width: 585px) {
    .topbar {
        width: 98%;
    }
}

@media (max-width: 435px) {
    .left-tobbar {
        width: 287px;
    }
}
