.table {
    width: 90%;
    border: 2px solid rgba(138, 128, 128, 0.457);
    margin: 20px auto;
    background-color: #0a66c2;
}

.table tr {
    border: 2px solid rgba(138, 128, 128, 0.457);
    text-align: center;
    height: 100%;
}

.table tr th,
td {
    border: 2px solid rgba(138, 128, 128, 0.457);
    text-align: center;
    width: 20px;
    height: 100%;
    background-color: rgba(13, 110, 253, 1);
    color: #fff;
}

.table tr td {
    background-color: #2c2f24;
}

.table tr td p {
    height: 100px;
    display: flex;
    color: #fff;
    gap: 5px;
}

.table img {
    width: 250px;
    height: 100px;
    object-fit: contain;
}

.admin-btn {
    width: 90% !important;
    height: 85px !important;
}

.table a {
    width: 48%;
    height: 60px;
    border: 2px solid rgba(138, 128, 128, 0.457);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.table .update {
    color: #fff;
}

.table .update:hover {
    background-color: rgba(30, 180, 58, 0.6) !important;
}

.table .delete {
    color: #fff;
}

.table .delete:hover {
    background-color: rgba(158, 20, 20, 0.614) !important;
}

.deleteall {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.3rem;
    border: 2px solid darkblue;
    border-radius: 2.5rem;
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 35vh;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    overflow: hidden;
}

.deleteall::before {
    content: "";
    background-color: rgba(255, 0, 0, 0.715);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;
    width: 50.1%;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
}

.deleteall::after {
    content: "";
    background-color: rgba(255, 0, 0, 0.715);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease;
    width: 50%;
    height: 100%;
    border-radius: 0 2rem 2rem 0;
}

.deleteall:hover{
    color: red;
}

.deleteall:hover::before {
    width: 0%;
}

.deleteall:hover::after {
    width: 0%;
}

